= form_for @employees_email do |f|
  - if @employees_email.errors.any?
    #error_explanation
      %h2= "#{pluralize(@employees_email.errors.count, "error")} prohibited this employees_email from being saved:"
      %ul
        - @employees_email.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :employee
    = f.text_field :employee_id
  .field
    = f.label :email
    = f.text_field :email
  .actions
    = f.submit 'Save'
