.container.theme-showcase{role: "main"}
  .jumbotron
    %h1 Listing Employee Emails
    %p All Employee Emails in one place.
  %table
    %thead
      %tr
        %th Email
        %th
        %th
        %th

    %tbody
      - @employees_emails.each do |employees_email|
        %tr
          %td= employees_email.email
          %td= link_to 'Show', employees_email
          %td= link_to 'Edit', edit_employees_email_path(employees_email)
          %td= link_to 'Destroy', employees_email, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Employees email', new_employees_email_path
