%p#notice= notice

%p
  %b Employee ID:
  = @employees_email.employee
%p
  %b Email:
  = @employees_email.email

= link_to 'Edit', edit_employees_email_path(@employees_email)
\|
= link_to 'Back', employees_emails_path
