%h1 Listing customers

%table
  %thead
    %tr
      %th Firstname
      %th Lastname
      %th Email
      %th Phonenumber
      %th
      %th
      %th

  %tbody
    - @customers.each do |customer|
      %tr
        %td= customer.firstname
        %td= customer.lastname
        %td= customer.email
        %td= customer.phonenumber
        %td= link_to 'Show', customer
        %td= link_to 'Edit', edit_customer_path(customer)
        %td= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Customer', new_customer_path
