.container.theme-showcase{role: "main"}
  .jumbotron
    %h1 Listing Reservations
    %p All your bookings in one place.

  %table
    %thead
      %tr

        %th Name
        %th Start Time
        %th End Time
        %th
        %th
        %th

    %tbody
      - @reservations.each do |reservation|
        %tr

          %td= reservation.Name
          %td= reservation.StartTime
          %td= reservation.EndTime

          %td= link_to 'Show', reservation

  %p To cancel your booking <a href='/contact'>Contact Us here</a>
  %br

  = link_to 'New Reservation', new_reservation_path
