.container.theme-showcase{role: "main"}
  .jumbotron
    %h1 Your Review
    %p Thank you for sharing.

  %p#notice= notice


  %p
    %b Name:
    = @review.name
  %p
    %b Title:
    = @review.title
  %p
    %b Description:
    = @review.description

  = link_to 'Edit', edit_review_path(@review)
  \|
  = link_to 'Back', reviews_path
